<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yunfeng.module_pay">

    <queries>
        <package android:name="com.eg.android.AlipayGphone" />
        <package android:name="hk.alipay.wallet" />
    </queries>

    <application>
        <activity
            android:name="com.yunfeng.dm.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
    </application>


</manifest>