<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ablec.module_web">

    <application
        android:name="com.ablec.module_base.debug.DebugApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/module_web_app_name"
        android:supportsRtl="true"
        tools:replace="android:label"
        android:theme="@style/ModuleWebTheme">
    </application>

</manifest>